<html>
<head>
<title>student info insert system</title>
<body>
	<form method="POST" action="/addinfo">
		<p>id     <input type="text" name="id"  >
		<p>sex    <input type="text" name="sex" >
		<p>age    <input type="text" name="age" >
		<p>num    <input type="text" name="num" >
		<p>address<input type="text" name="address">
		<p>grade  <input type="text" name="grade">
		<p>sub    <input type="text" name="sub">
		<p>name   <input type="text" name="name">
		<p>submit <input type="submit" name="submit">
	<form>
</body>
</head>
</html>
